@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body{
    margin : 0;
	padding : 0;
    background-color: #143742;
}

#main-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    column-gap: 1px;
    height : 100vh;
	width : 100vw;
}
/* User Name zone*/
#user-name-container{
    background-color: #194654;
    padding-left: 10px;

    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    align-items: center;

}

#user-name-input{
    padding: 10px;
    border-radius: 10px;
    background-color: #194654;
    color: rgb(225, 225, 225);
    font-size: 2.5vw;
    border: 0;
}

#user-name-input::placeholder{
    color: rgb(225, 225, 225);
}

#user-name-input:focus{
    outline: none;
}
#user-name-input:focus::placeholder{
    color:transparent;
}

/* Navigation Zone */
#navigation-container{
    grid-column: 1/4;
    grid-row: 2/13;
    padding-top: 10px;
    background-color: #143742;
    display: flex;
    flex-direction: column;
}

#room-connection{
    height: 7vh;
    overflow: hidden;
    border-radius: 10px;
    background-color: #194654;
    display: flex;
    align-items: center;
    margin: 0px 10px 5px 10px;
}

#room-code-input{
    height: 5vh;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    background-color: #194654;
    color: rgb(225, 225, 225);
    border: 0;
}

#room-code-input::placeholder{
    color: rgb(225, 225, 225);
}

#room-code-input:focus{
    outline: none;
}
#room-code-input:focus::placeholder{
    color:transparent;
}

#connect-button{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #266B80;
}

#connect-button:hover{
    background-color: #266B80;
    color: #194654;
}

.room-info{
    margin: 5px 10px 5px 10px;
    background-color: #0F2B33;
    border-radius: 10px;
    height: 3vh;
    color: rgb(225, 225, 225);;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-info:hover{
    background-color: #49CDF5;
    color: black;
}
/* Chat Name Zone*/

#chat-name-container{
    background-color: #194654;
    padding-left: 10px;
    grid-column: 4/13;
    grid-row: 1/2;
    z-index: 10;
    display: flex;
    justify-content: left;
    align-items: center;
}



#chat-name{
    color: white;
    font-size: 2.5vw;
}

/* message board zone */
#message-board{
    grid-column: 4/13;
    grid-row: 2/12;
    background-color: #0F2B33;
    overscroll-behavior: contain;
    padding-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}

.message{
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 10px;
    max-width: 55%;
    word-wrap: break-word;
    height: auto;
}

.user-message{
    background-color: #49CDF5;
    margin-left: auto;
    margin-right: 20px;
}

.contact-message{
    background-color: #266B80;
    margin-left: 20px;
    color: white;
}

.private-message{
    background-color: aquamarine;
    margin-left: 20px;
}

.message-author{
    font-size: .8em;
    color: #94cfdf;
}

.private-message > .message-author{
    color: #0F2B33;
}

.sys-message{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #194654;
    color: white;
    border-radius: 10px;
}
.sys-message-content{
    font-size: .7em;
}

/* Message Input zone*/

#text-space{
    grid-column: 4/13;
    grid-row: 12/13;
    background-color: #194654;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-space{
    background-color: #143742;
    border-radius: 10px;
    height: 75%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#input-text{
    height: 100%;
    width: 90%;
    border: none;
    padding-left: 20px;
    background-color: #143742;
    color: white;
}

#input-text:focus{
    outline: none;
}
#input-text:focus::placeholder{
    color:transparent;
}

#send-text{
    background-color: #143742;
    margin-left: 2px;
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #266B80;
}

#send-text:hover{
    background-color: #266B80;
    color: #143742;
}

/* icons */
.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}



